<div class="space-80"></div>
<div class="row horizontal-align-child">

  <div class="col-md-6 offset-md-3">

    <div *ngIf="messages.length !== 0">
      <div *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
      </div>
    </div>
    <div *ngIf="messages.length === 0">
      <p>No messages, you can populate the DB with the command in the readme file.</p>
    </div>


  </div>
</div>