<div class="space-80"></div>
<div class="row horizontal-align-child">
    
  <div class="col-md-6 offset-md-3">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" aria-describedby="username"
          placeholder="Enter username">
        <small id="emailHelp" class="form-text text-muted">Type in anything.</small>
      </div>
      <button type="submit" class="btn btn-primary" (click)="logIn()">Login</button>
    </form>
  </div>
</div>